<a>
  {{ 'collection-' | append: collection_number | placeholder_svg_tag }}
  <div>
    <h2>Lorem collection</h2>

    <span class="call-to-action-hyphen"></span>

    <span>Shop lorem</span>
  </div>
</a>