{%- assign formId = 'newsletter-subscription' -%}

<h2>Stay in touch</h2>

<!-- <div> -->
  <div>
    <div>{{ section.settings.call_to_action }}</div>

    {% form 'customer', id: formId, novalidate: 'novalidate' %}
      {%- if form.posted_successfully? -%}
        <p class="successful">Thanks for subscribing!</p>
      {%- endif -%}

      <div>
        <input type="email"
        name="contact[email]"
        class="{% if form.errors %}error{% endif %}"
        value="{{ form.email }}"
        placeholder="Enter your email address here"
        required />
        
        <button type="submit" name="commit">Subscribe</button>
      </div>

      {% if form.errors contains 'email' %}
        <p class="error">Email is invalid</p>
      {% endif %}
    {% endform %}
  </div>
<!-- </div> -->

{% schema %}
{
  "name": "Stay in touch",
  "class": "stay-in-touch",
  "settings": [
    {
      "type": "richtext",
      "id": "call_to_action",
      "label": "Call to action",
      "default": "<p>Subscribe to our newsletter and get <strong>15% off</strong> your next order, Who doesn't love a deal?</p>"
    }
  ],
  "presets": [
    {
      "category": "Newsletter",
      "name": "Stay in touch"
    }
  ]
}
{% endschema %}
